.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: url("./images/heroImagesvg2.svg") top 50% left 50% / cover repeat,
    #e5eeff;
  height: 100%;
  min-height: 0;
  padding: 52px 0px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (max-width: 930px) {
  .headerHeroSection {
    padding-bottom: 0px;
    background: url("./images/heroImagesvg2.svg") top 129% left 0% / cover repeat,
      #e5eeff;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.freeBox__p0JaA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 870px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
@media (max-width: 930px) {
  .freeBox__p0JaA {
    height: 700px;
    flex-shrink: 0;
  }
}
.freeBox__e1Rk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__ftEmc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 944px;
  margin-top: 30px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h1__ftEmc {
    max-width: 800px;
  }
}
.text__bFezr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 903px;
  margin-top: 52px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__bFezr {
    max-width: 700px;
    margin-top: 18px;
  }
}
.section__ting6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 0px;
}
@media (max-width: 930px) {
  .section__ting6:global(.__wab_instance) {
    margin-top: 4px;
  }
}
.img__ruo6E {
  position: absolute;
  object-fit: cover;
  max-width: 1140px;
  left: 151px;
  top: auto;
  right: auto;
  margin-bottom: 0px;
  bottom: -189px;
  width: 1164px;
  box-shadow: 0px 4px 16px 0px #00000063;
  border-radius: 20px;
}
.img__ruo6E > picture > img {
  object-fit: cover;
}
.img__ruo6E > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__ruo6E {
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
    bottom: auto;
    right: auto;
    margin-top: -130px;
    margin-left: 18px;
    margin-right: 18px;
  }
}
.section__sFHu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__kc77 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 240px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox__kc77 {
    padding-top: 100px;
    padding-bottom: 0px;
  }
}
.h2__tF228 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__z543 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 895px;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__z543 {
    max-width: 275px;
  }
}
.freeBox__kzaGi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 8px;
}
.columns__eIjJf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: -18px;
  min-width: 0;
  padding: 8px;
}
.columns__eIjJf > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__eIjJf > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__eIjJf > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (max-width: 930px) {
  .columns__eIjJf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__eIjJf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xfjHr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .column__xfjHr {
    padding: 0px;
  }
}
.h3__cqz5R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___6OKCk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 29px;
  font-weight: 500;
  min-width: 0;
  margin: 12px 0px 0px;
}
@media (max-width: 930px) {
  .text___6OKCk {
    line-height: 22px;
  }
}
.column___0Hk9Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .column___0Hk9Y {
    padding: 40px 0px 0px;
  }
}
.h3___8S0Bj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ohC4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  font-weight: 500;
  min-width: 0;
}
.column__hMtRt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .column__hMtRt {
    padding: 40px 0px 0px;
  }
}
.h3__qrP6M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__hoJy5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  font-weight: 500;
  min-width: 0;
}
.section__s2Iko {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #f2f2f7;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.section__s2Iko > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.section__s2Iko > :global(.__wab_flex-container) > *,
.section__s2Iko > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__s2Iko > :global(.__wab_flex-container) > picture > img,
.section__s2Iko
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (max-width: 930px) {
  .section__s2Iko {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    padding: 128px 32px;
  }
}
@media (max-width: 930px) {
  .section__s2Iko > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 930px) {
  .section__s2Iko > :global(.__wab_flex-container) > *,
  .section__s2Iko > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section__s2Iko > :global(.__wab_flex-container) > picture > img,
  .section__s2Iko
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.foreground {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (max-width: 930px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 930px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.columns__hNkuC {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__hNkuC > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__hNkuC > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__hNkuC > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__hNkuC > :global(.__wab_flex-container) > *,
.columns__hNkuC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__hNkuC > :global(.__wab_flex-container) > picture > img,
.columns__hNkuC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (max-width: 930px) {
  .columns__hNkuC {
    flex-direction: row;
  }
}
@media (max-width: 930px) {
  .columns__hNkuC > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 930px) {
  .columns__hNkuC > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (max-width: 930px) {
  .columns__hNkuC > :global(.__wab_flex-container) > *,
  .columns__hNkuC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__hNkuC > :global(.__wab_flex-container) > picture > img,
  .columns__hNkuC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__h0H0P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 930px) {
  .column__h0H0P {
    width: 100%;
  }
}
.freeBox__lXSfr {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__lXSfr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lXSfr > :global(.__wab_flex-container) > *,
.freeBox__lXSfr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lXSfr > :global(.__wab_flex-container) > picture > img,
.freeBox__lXSfr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___4Zlk3 {
  height: auto;
  color: #34c759;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h2__eme7O {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__qX2AJ {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  height: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__qxPos {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 930px) {
  .column__qxPos {
    width: 100%;
  }
}
.freeBox__xLxi3 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.freeBox___0YaYk {
  flex-direction: row;
  display: flex;
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
}
.freeBox___0YaYk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___0YaYk > :global(.__wab_flex-container) > *,
.freeBox___0YaYk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0YaYk > :global(.__wab_flex-container) > picture > img,
.freeBox___0YaYk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text___1TYee {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__qdPow {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__n7IPw {
  flex-direction: row;
  display: flex;
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
}
.freeBox__n7IPw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__n7IPw > :global(.__wab_flex-container) > *,
.freeBox__n7IPw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n7IPw > :global(.__wab_flex-container) > picture > img,
.freeBox__n7IPw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__eEyMn {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg___0E5CE {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__dssa7 {
  flex-direction: row;
  display: flex;
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
}
.freeBox__dssa7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dssa7 > :global(.__wab_flex-container) > *,
.freeBox__dssa7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dssa7 > :global(.__wab_flex-container) > picture > img,
.freeBox__dssa7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__ruwV3 {
  height: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__ikgcL {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__bw9Vv {
  flex-direction: row;
  display: flex;
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
}
.freeBox__bw9Vv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bw9Vv > :global(.__wab_flex-container) > *,
.freeBox__bw9Vv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bw9Vv > :global(.__wab_flex-container) > picture > img,
.freeBox__bw9Vv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__blwNc {
  height: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__c5OeM {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__wyhdj {
  flex-direction: row;
  display: flex;
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  min-width: 0;
}
.freeBox__wyhdj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wyhdj > :global(.__wab_flex-container) > *,
.freeBox__wyhdj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wyhdj > :global(.__wab_flex-container) > picture > img,
.freeBox__wyhdj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__cvoEa {
  height: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__qjU2A {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
  flex-shrink: 0;
}
.section__q67Fx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__sJnJb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1164px;
  margin-top: 46px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox__sJnJb {
    margin-left: 0px;
    justify-content: center;
    align-items: flex-start;
    max-width: 846px;
    width: 100%;
    margin-right: 0px;
    padding-left: 18px;
    padding-right: 18px;
    min-width: 0;
  }
}
.columns__th7HZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__th7HZ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__th7HZ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__th7HZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__th7HZ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0MaFv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .column___0MaFv {
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__btUj0 {
  position: relative;
  object-fit: cover;
  max-width: 500px;
  border-radius: 20px;
}
.img__btUj0 > picture > img {
  object-fit: cover;
}
.img__btUj0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__btUj0 {
    width: 284px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
.freeBox___8ElIc {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 204px;
  height: 135px;
  max-width: 100%;
  background: #6498ff;
  left: 0px;
  top: 32px;
  right: auto;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox___8ElIc {
    left: 30px;
    top: 18px;
  }
}
.freeBox__bQli8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__kmjMh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__kmjMh > picture > img {
  object-fit: cover;
}
.img__kmjMh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0P2Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  line-height: 17px;
  color: var(--token-hEnhjIz2RdEzfC);
  margin-top: 12px;
  min-width: 0;
}
.column___7MmvR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 6px;
}
@media (max-width: 930px) {
  .column___7MmvR {
    padding: 0px;
  }
}
.freeBox__nNpsg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 34px;
  margin-left: 0px;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 930px) {
  .freeBox__nNpsg {
    margin-top: 0px;
    padding: 0px;
  }
}
.freeBox__laiDw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 26px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__laiDw {
    margin-top: 40px;
    padding: 0px;
  }
}
.img___93Nd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 2px;
  flex-shrink: 0;
}
.img___93Nd > picture > img {
  object-fit: cover;
}
.img___93Nd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__pki8Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-weight: 500;
  text-align: left;
  margin-left: 12px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__pki8Z {
    font-size: 12px;
  }
}
.h3__ee2Zn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  margin-top: 12px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h3__ee2Zn {
    align-self: flex-start;
    font-size: 24px;
  }
}
.text__luWOy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 528px;
  font-size: 18px;
  text-align: left;
  margin-top: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #00000080;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__luWOy {
    margin-top: 16px;
    font-size: 16px;
  }
}
.freeBox__oW6Hb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1133px;
  margin-top: 100px;
  margin-bottom: 100px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox__oW6Hb {
    max-width: 800px;
    margin-top: 80px;
  }
}
.columns___9LwSt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns___9LwSt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___9LwSt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 930px) {
  .columns___9LwSt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns___9LwSt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___3Wz9Y {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 75px 0px 0px;
}
@media (max-width: 930px) {
  .column___3Wz9Y {
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__b26VM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  align-self: flex-start;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 930px) {
  .freeBox__b26VM {
    padding-right: 8px;
  }
}
.freeBox__ywv4C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___9V7Zz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 2px;
  flex-shrink: 0;
}
.img___9V7Zz > picture > img {
  object-fit: cover;
}
.img___9V7Zz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__kItm0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-weight: 500;
  text-align: left;
  margin-left: 12px;
  min-width: 0;
}
.h3__dsWo7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  margin-top: 12px;
  min-width: 0;
}
.text___7Hdn6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 528px;
  text-align: left;
  font-size: 18px;
  margin-top: 24px;
  line-height: 27px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text___7Hdn6 {
    align-self: flex-start;
  }
}
.column__jAxjN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px 2px;
}
@media (max-width: 930px) {
  .column__jAxjN {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-column-gap: 0px;
    padding: 0px;
  }
}
.img___9SHVh {
  position: relative;
  object-fit: cover;
  max-width: 689px;
  width: 100%;
  height: 350px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 20px;
}
.img___9SHVh > picture > img {
  object-fit: cover;
}
.img___9SHVh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img___9SHVh {
    width: 284px;
    object-fit: cover;
    max-width: 284px;
    align-self: flex-start;
  }
}
@media (max-width: 930px) {
  .img___9SHVh > picture > img {
    object-fit: cover;
  }
}
@media (max-width: 930px) {
  .img___9SHVh > :global(.__wab_img-spacer) > img {
    object-fit: cover;
  }
}
.freeBox__nXsw {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 204px;
  height: 135px;
  max-width: 100%;
  background: #6498ff;
  left: 28px;
  top: 369px;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox__nXsw {
    top: auto;
    left: 10px;
    bottom: 14px;
  }
}
.freeBox__tGuz6 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 16px;
  right: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox__tGuz6 {
    top: auto;
  }
}
.img__j8E1Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__j8E1Y > picture > img {
  object-fit: cover;
}
.img__j8E1Y > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___7WqY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  line-height: 17px;
  color: var(--token-hEnhjIz2RdEzfC);
  margin-top: 12px;
  min-width: 0;
}
.freeBox__la577 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1165px;
  margin-bottom: 160px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__la577 {
    max-width: 800px;
  }
}
.columns__aqqCe {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__aqqCe > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__aqqCe > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 930px) {
  .columns__aqqCe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .columns__aqqCe > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0Fd2C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.img__a4F0 {
  position: relative;
  object-fit: contain;
  max-width: 500px;
  align-self: flex-start;
  border-radius: 20px;
}
.img__a4F0 > picture > img {
  object-fit: contain;
}
.img__a4F0 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (max-width: 930px) {
  .img__a4F0 {
    max-width: 284px;
    align-self: flex-start;
  }
}
.freeBox__sFvBe {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 204px;
  height: 135px;
  max-width: 100%;
  background: #6498ff;
  left: -30px;
  top: 259px;
  right: auto;
  margin-left: 0px;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox__sFvBe {
    width: 162px;
    top: auto;
    bottom: 25px;
    left: 23px;
  }
}
.freeBox__qApmi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__du6FD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__du6FD > picture > img {
  object-fit: cover;
}
.img__du6FD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__w0Obi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  line-height: 17px;
  color: var(--token-hEnhjIz2RdEzfC);
  margin-top: 12px;
  min-width: 0;
}
.column__jIp3X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 40px;
}
@media (max-width: 930px) {
  .column__jIp3X {
    padding-left: 8px;
  }
}
.freeBox__nzYdb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 82px;
  max-height: 529px;
  min-width: 0;
  padding: 0px;
}
.freeBox__qEcnn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__mzJwm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 2px;
  flex-shrink: 0;
}
.img__mzJwm > picture > img {
  object-fit: cover;
}
.img__mzJwm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__vXvP8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-weight: 500;
  text-align: left;
  margin-left: 12px;
  min-width: 0;
}
.h3___0YRcx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  margin-top: 12px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h3___0YRcx {
    align-self: flex-start;
  }
}
.text__laq0O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 528px;
  text-align: left;
  font-size: 18px;
  margin-top: 24px;
  line-height: 150%;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__laq0O {
    align-self: flex-start;
  }
}
.section___46PZb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__iKrin {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  background: url("./images/maskGroupsvg.svg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 930px) {
  .freeBox__iKrin {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0px;
    flex-column-gap: 0px;
  }
}
.freeBox___1TmIo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 650px;
  margin-left: 8px;
  padding: 128px 0px 8px 8px;
}
@media (max-width: 930px) {
  .freeBox___1TmIo {
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    align-self: center;
    margin-left: 0px;
    padding: 100px 23px 0px;
  }
}
.h2__wBsBp {
  position: relative;
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-hEnhjIz2RdEzfC);
  min-width: 0;
}
.text___62Kno {
  position: relative;
  width: auto;
  height: auto;
  max-width: 681px;
  color: #ffffffc7;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 27px;
}
.freeBox__p8IzP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 394px;
  margin-top: 26px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__p8IzP {
    align-self: flex-start;
  }
}
.freeBox__jXa18 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 32px;
  max-height: 32px;
  min-width: 0;
  padding: 0px;
}
.img__mdPfb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mdPfb > picture > img {
  object-fit: cover;
}
.img__mdPfb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__mdPfb {
    max-width: 24px;
  }
}
.freeBox__c9MVz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__cvmAh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-hEnhjIz2RdEzfC);
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__cvmAh {
    padding-left: 12px;
  }
}
.freeBox__i4NV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 394px;
  margin-top: 26px;
  min-width: 0;
  padding: 0px;
}
.freeBox__jdrpo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 32px;
  max-height: 32px;
  min-width: 0;
  padding: 0px;
}
.img__rSXh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rSXh > picture > img {
  object-fit: cover;
}
.img__rSXh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__rSXh {
    max-width: 24px;
  }
}
.freeBox__vKl4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__oHeoW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-hEnhjIz2RdEzfC);
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__oHeoW {
    padding-left: 12px;
  }
}
.freeBox__aHibe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 394px;
  margin-top: 26px;
  min-width: 0;
  padding: 0px;
}
.freeBox__vsEdj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 32px;
  max-height: 32px;
  min-width: 0;
  padding: 0px;
}
.img__xFmeX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xFmeX > picture > img {
  object-fit: cover;
}
.img__xFmeX > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__xFmeX {
    max-width: 24px;
  }
}
.freeBox__wY1Qk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xZ2Dr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-hEnhjIz2RdEzfC);
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__xZ2Dr {
    padding-left: 12px;
  }
}
.freeBox___2FDyi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 394px;
  margin-top: 26px;
  margin-bottom: 128px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox___2FDyi {
    margin-bottom: 78px;
  }
}
.freeBox__uXb9O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 32px;
  max-height: 32px;
  min-width: 0;
  padding: 0px;
}
.img__t2E1S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__t2E1S > picture > img {
  object-fit: cover;
}
.img__t2E1S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__t2E1S {
    max-width: 24px;
  }
}
.freeBox__rx7Dv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__htFtu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-hEnhjIz2RdEzfC);
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__htFtu {
    padding-left: 12px;
  }
}
.freeBox__r9OXr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 554px;
  margin-left: 0px;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 930px) {
  .freeBox__r9OXr {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.img__faMn5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1440px;
  height: 700px;
  margin-left: 329px;
  flex-shrink: 0;
}
.img__faMn5 > picture > img {
  object-fit: cover;
}
.img__faMn5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__faMn5 {
    margin-left: 0px;
    width: 100%;
    height: 100%;
    max-width: 284px;
    max-height: 174px;
    min-width: 0;
    min-height: 0;
    display: none !important;
  }
}
.img__qDocW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
  margin: -14px 10px -75px;
}
.img__qDocW > picture > img {
  object-fit: cover;
}
.img__qDocW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 930px) {
  .img__qDocW {
    display: inline-block !important;
  }
}
.section__ch3Pr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ej3N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 1140px;
  width: auto;
  padding: 143px 0px 160px;
}
@media (max-width: 930px) {
  .freeBox__ej3N {
    padding-top: 100px;
  }
}
.h2__vmCk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jwCtP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 939px;
  padding-top: 32px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__jwCtP {
    max-width: 367px;
    width: 100%;
    text-align: center;
    color: #00000080;
    min-width: 0;
    padding: 0px 8px;
    margin: 16px 8px;
  }
}
.freeBox__e1TYg {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1140px;
  min-width: 0;
  padding: 60px 0px 0px;
}
.freeBox__e1TYg > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__e1TYg > :global(.__wab_flex-container) > *,
.freeBox__e1TYg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e1TYg > :global(.__wab_flex-container) > picture > img,
.freeBox__e1TYg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (max-width: 930px) {
  .freeBox__e1TYg {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__e1TYg > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.teams__eeU9C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.teams__rInbv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .teams__rInbv:global(.__wab_instance) {
    margin-left: calc(0px + 24px) !important;
    margin-right: 0px;
  }
}
.teams__nyev7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.teams__q9XCn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.teams__gxWbd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.teams__rJrKx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section__l6Kw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section__iyuvt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__cdgD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox__cdgD {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    flex-column-gap: 0px;
    padding: 100px 18px;
  }
}
.freeBox___2KgR2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 930px) {
  .freeBox___2KgR2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__q2It {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: #000000;
  font-weight: 700;
  min-width: 0;
}
.h2___8SCm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  margin-top: 12px;
  min-width: 0;
}
.text___6ZfSq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text___6ZfSq {
    max-width: 500px;
  }
}
.freeBox__l6PuL {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__l6PuL {
    margin-top: 40px;
  }
}
.freeBox__khNIs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 27px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__khNIs {
    margin-left: 0px;
  }
}
.freeBox__ltrHk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 580px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  padding: 0px;
}
.h6__ojBbG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  line-height: 29px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h6__ojBbG {
    font-size: 18px;
    width: 100%;
    max-width: 400px;
    min-width: 0;
  }
}
.img__jKsd9 {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
  margin-left: 31px;
}
.img__jKsd9 > picture > img {
  object-fit: cover;
}
.img__jKsd9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__x6Cs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 447px;
  font-size: 18px;
  text-align: left;
  align-self: flex-start;
  line-height: 27px;
  margin-top: 24px;
  min-width: 0;
}
.freeBox__xZhLy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 27px;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__xZhLy {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__eXxCz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 580px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  padding: 0px;
}
.h6__tA4DX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  line-height: 29px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h6__tA4DX {
    font-size: 18px;
    max-width: 400px;
  }
}
.img__oJvM {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
  margin-left: 31px;
}
.img__oJvM > picture > img {
  object-fit: cover;
}
.img__oJvM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xgdre {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 27px;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__xgdre {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__iyIdf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 580px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  padding: 0px;
}
.h6__yGQyp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  line-height: 29px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h6__yGQyp {
    font-size: 18px;
    max-width: 400px;
  }
}
.img___2Ngoq {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
  margin-left: 31px;
}
.img___2Ngoq > picture > img {
  object-fit: cover;
}
.img___2Ngoq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__oCzn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 27px;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__oCzn {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__ddlHl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 580px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  padding: 0px;
}
.h6__ogTqd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  line-height: 29px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h6__ogTqd {
    font-size: 18px;
    max-width: 400px;
  }
}
.img__txWkb {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
  margin-left: 31px;
}
.img__txWkb > picture > img {
  object-fit: cover;
}
.img__txWkb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ucJoj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 27px;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__ucJoj {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__fuRrq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 580px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  padding: 0px;
}
.h6__wjtan {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  line-height: 29px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h6__wjtan {
    font-size: 18px;
    max-width: 400px;
  }
}
.img__xlOoR {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
  margin-left: 31px;
}
.img__xlOoR > picture > img {
  object-fit: cover;
}
.img__xlOoR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__k4ZnA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__t1COy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 100px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__t1COy {
    max-width: 800px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
.h1__pjYbF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rKb8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 939px;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__rKb8 {
    max-width: 600px;
  }
}
.freeBox__wwb0C {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  margin-bottom: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox__wwb0C > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 930px) {
  .freeBox__wwb0C {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox__wwb0C > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 930px) {
  .freeBox__wwb0C > :global(.__wab_flex-container) > *,
  .freeBox__wwb0C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wwb0C > :global(.__wab_flex-container) > picture > img,
  .freeBox__wwb0C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 500px;
  height: 70px;
  flex-shrink: 0;
}
.svg__hykmN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___3E54R {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 24px;
}
@media (max-width: 930px) {
  .button:global(.__wab_instance) {
    width: 100%;
    max-width: 500px;
    margin-left: calc(0px + 0px) !important;
    min-width: 0;
  }
}
.svg__a0B9S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__iawbu {
    width: 100%;
    min-width: 0;
  }
}
.svg__ric6L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.footerSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
